.list-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1.5rem;
  flex-wrap: wrap;
  width: 100%;
  box-sizing: border-box;
  min-height: 80vh;

  @media (max-width: 600px) {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .status-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
  }
}